h1{
	color: #fefafd;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size:36pt;
	text-align: right;

}

.navbar1 ul{
	
	display:inline;
	padding: 100px 0px 0px 0px;
	margin: 0px 0px 0px 50px;
}

.navbar1 li{
	 margin-left: 0;
	padding: 0px 15px;
	list-style: none;
	line-height: 15px;
	display: inline;
}

a{
	color:white;
	text-decoration:none;
	font-family: 'Merriweather', serif;
}

#nav{
	clear:both;
	float:right;
	margin: 60px 90px 0px 0px;
}

#header{
	margin: 0px 100px 0px 0px;
	height: 30px;
	width: 500px;
	padding: 0px 0px 0px 0px;
	float:right;

	}

#header,#nav{
	clear:both;
}

html { 
  background: url('backgg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.body{
	clear:both;
	float:center;
	background-color: rgba(0,0,0, .3);
	height:100%;
	width:500px;
	margin: 0px 100px 0px 0px;
	padding: 0px 10px 0px 20px;
	float:right;
}

img{
	margin: 0px 5px 0px 5px;
}

p{
	color:#fff;
	font-family: 'Josefin Sans', sans-serif;

	font-size: 16pt;
	opacity: 1.0;
    margin-top: 10px	;
}

#bouncing{
	display: inline;


}
.ui-effects-wrapper {
 display: inline-block;   
}

#bouncing1, #bouncing2, #bouncing3, #bouncing4, #bouncing5, #bouncing6{
	display: inline;
}

#space{
	height: 20px;
}
