h1{
	color: #76275f;
	font-family: 'Lobster', cursive;
	font-size:60pt;
}
p{
	font-family: 'Montserrat', sans-serif;

}
h2{
	font-family: 'Philosopher', sans-serif;
	color: #831618	;
	font-size:28pt;
}

h6{
	font-family: 'Montserrat', sans-serif;
	font-size:8pt;
}
h3{
	font-family: 'Montserrat', sans-serif;
	color:#CD5C5C;
}
small{
	font-family: 'Montserrat', sans-serif;
}

#my_row{
	margin-top: 2cm;
}

.navbar1{
	font-family: 'Montserrat', sans-serif;
	 display:inline;
	list-style-type: none;
	padding-right: 20px;
}

.navbar1 li{
	 margin-left: 0;
	padding: 3px 15px;
	list-style: none;
	line-height: 15px;
	display: inline;
}
#image{
	position: relative;
	width: 100%;
}
#blockquote{
	position: absolute;
	top: 20px;
	left: 350px;
	width: 25%;
	color:black;
}
#quote{
	color:#FFFFF;
}
