h1 {
    font-family: 'Vollkorn', serif;

    margin: 0;
    line-height: 50px;

}

h2 {
    font-family: 'Vollkorn', serif;
    margin: 0;
    line-height: 50px;
}

body {
    font-family: 'Vollkorn', serif;
    font-size: 1.7em;
    line-height: 1.5em;
}

#background {

    height:100%;
    z-index: 0;
    top: 0;
    left: 0;
}

#center {
    position: auto;
    margin-top:50%;
}

a {
    color: red;
    text-decoration: none;
}

h3 {
    margin: 1%;
}

a:hover {
    text-decoration: underline;
}

container {
    width: 80%;
}
