h1 {
    font-family: 'Raleway', sans-serif;

    margin: 0;
    line-height: 50px;

}

h2 {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    line-height: 50px;
}

#background {

    height:100%;
    z-index: 0;
    top: 0;
    left: 0;
}

#center {
    position: auto;
    text-align:center;
    margin-top:50%;
}

a {
    color: inherit;
}

h3 {
    margin: 1%;
}

.group1{
    color: #424447;
}

.group2{
    color: #5C5C5C;
}

.group3{
    color: #808080;
}

.group4{
    color: #B2B2B2
}

body{

}